.menu-categories {
  display: flex; /* Используем Flexbox для выравнивания кнопок горизонтально */
  overflow-x: auto; /* Позволяем прокручивать содержимое по горизонтали */
  white-space: nowrap; /* Запрещаем перенос строк, чтобы кнопки оставались в одной строке */
  padding: 10px; /* Отступы вокруг категорий */
  scrollbar-width: thin; /* Уменьшаем ширину полосы прокрутки (для Firefox) */
}

/* Стили для кнопок категорий */
.category-button {
  margin-right: 10px; /* Отступ между кнопками */
  padding: 10px 15px; /* Внутренние отступы кнопок */
  border: 2px solid #4CAF50; /* Граница кнопок */
  border-radius: 5px; /* Скругление углов кнопок */
  background-color: white; /* Цвет фона кнопок */
  cursor: pointer; /* Указываем, что кнопка кликабельная */
  transition: background-color 0.3s; /* Плавный переход для фона */
}

.category-button:hover {
  background-color: #f0f0f0; /* Цвет фона при наведении */
}
  
  .menu-filters {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .menu-filters input,
  .menu-filters select {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    padding-bottom: 80px;
  }
  
  .menu-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
  }
  
  .menu-item img {
    max-width: 100%;
    height: auto;
  }
  
  .order-button {
    text-align: center;
    margin-top: 20px;
  }

  .menu {
    position: relative;
    padding: 20px;
}

.open-modal-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
}

.open-modal-button svg {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease-in-out;
}

.open-modal-button:hover svg {
  transform: rotate(-90deg);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.close {
    cursor: pointer;
    float: right;
    font-size: 20px;
}

.price-filter label {
    display: block;
    margin-bottom: 10px;
}

.price-filter input {
    width: calc(100% - 20px);
    padding: 5px;
    margin-bottom: 10px;
}

.sort-options label {
    display: block;
    margin-bottom: 10px;
}