nav {
  position: fixed; /* Фиксируем позицию */
  bottom: 0; /* Прикрепляем к нижней части экрана */
  left: 0; /* Сдвигаем влево */
  right: 0; /* Сдвигаем вправо */
  display: flex; /* Используем Flexbox для выравнивания */
  justify-content: center; /* Выравниваем элементы по центру */
  background-color: white; /* Цвет фона для навигации */
  padding: 0 0; /* Вертикальные отступы */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Тень для отделения от контента */
  z-index: 1000; /* Обеспечиваем, чтобы навигация была поверх других элементов */
}

nav div {
  display: flex;
  padding: 5px 5px; /* Отступы внутри прямоугольников */
  border: 0.5px solid #244d81; /* Цвет и толщина границы */
  margin: 0; /* Убираем внешние отступы */
  width: 25%;
  transition: background-color 0.3s; /* Плавный переход для фона */
  justify-content: center;
  align-items: center;
}

nav div:not(:last-child) {
  border-right: none; /* Убираем правую границу для всех, кроме последнего элемента */
}

nav div:hover {
  background-color: #f0f0f0; /* Цвет фона при наведении */
}

nav a {
  color: #543977; /* Цвет текста ссылок */
  text-decoration: none; /* Убираем подчеркивание */
  display: block; /* Делаем ссылку блочным элементом для полной области клика */
}